
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.topimage {
    width: 500px;
    height: 150px;
    align-items: center;
}
.gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
#ds{
    color: rgb(57, 76, 69);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*Images*/
#p1, #p2, #p3, #p4 {
    max-width: 100%;
    max-height: 360px; /* set a maximum height for the images */
    margin: 10px;
    box-shadow: 0px 0px 5px #ccc;
    opacity: 1;
    transition: opacity 0.5s ease;
}

 
/* columns*/
#i5, #i6, #i7 {
    max-width: 100%;
    max-height: 360px; /* set a maximum height for the images */
    margin: 10px;
    box-shadow: 0px 0px 5px #ccc;
}
.main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .column img {
    max-width: 100%;
    height: auto;
  }

.bottomimage {
    max-height: 30px;
}

footer {
    display: flex;
	align-items: center;
	background-color: rgb(170, 170, 170);
	padding: 20px;
	font-size: 14px;
}
.main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
  }
  
  .column img {
    max-width: 100%;
    height: auto;
  }
#b1, #b2 {
    background-color: rgb(57, 76, 69);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

